*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: auto;
    justify-content: center;
}
.container{
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    margin-top: 50px;
    text-align: center;
    margin-left: 400px;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.image-borders{
   border-radius: 100%;
   width: 80px;
    padding-top: 10px;
}
h3{
    color: hsl(0, 0%, 100%);
    margin-top: 5px;
    
}
h4{
    color: hsl(0, 0%, 100%);
    font-size: 14px;

}
.location{
    color: hsl(75, 94%, 57%);
    margin-top: 5px;
}  

.bio{
    margin-top: 5px;
}
.box{
padding-top: 5px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.GitHub{
   margin-top: 15px;
    background-color:  hsl(0, 0%, 40%);
    width: 230px;
    border-radius: 5px;
    text-align: center;
    margin-left: 90px;
    padding: 10px;
}
.mentor{
    margin-top: 15px;
    background-color:  hsl(0, 0%, 40%);
    width: 230px;
    border-radius: 5px;
    text-align: center;
    margin-left: 90px;
    padding: 10px;
}
.link{
    margin-top: 15px;
    background-color:  hsl(0, 0%, 40%);
    width: 230px;
    border-radius: 5px;
    text-align: center;
    margin-left: 90px;
    padding: 10px;
}
.twit{
    margin-top: 15px;
    background-color:  hsl(0, 0%, 40%);
    width: 230px;
    border-radius: 5px;
    text-align: center;
    margin-left: 90px;
    padding: 10px;
}
.gram{
    margin-top: 15px;
    background-color:  hsl(0, 0%, 40%);
    width: 230px;
    border-radius: 5px;
    text-align: center;
    margin-left: 90px;
    padding: 10px;
    margin-bottom: 10px;
}


@media screen and (max-width: 375px) {
        .container {
            width: 100%; /* Adjust width as needed */
            margin-left: auto;
            margin-right: auto;
        }
    }